{% extends 'Base.html' %}
{% block body %}
{% if request.user.is_admin %}
<div class="d-flex flex-row-reverse">
  <a href="{% url 'AddBook'%}" class="btn btn-info m-2 p-2 mb=0">Add Book</a>
</div>
 {% endif %}
<table class="table my-5">
<tr>
  <th scope="col">Name</th>
  <th scope="col">Author Name</th>
  <th scope="col">Publish date</th>
  <th scope="col">Price</th>

</tr>
{% for r in x %}
<tr>
  <td scope="row"> {{ r.Name }}</td>
  <td scope="row"> {{ r.Author_Name }}</td>
  <td scope="row"> {{ r.Publish_date }}</td>
  <td scope="row"> {{ r.Price }}</td>
  {% if request.user.is_admin %}
  <td>
    <a href="{% url 'EditBook' r.id %}" class="btn btn-info">Edit</a>
  </td>
  <td>
    <form action="{%url 'DeleteBook' r.id %}" method="POST" class="d-inline">
      {% csrf_token %}
      <input type="submit" class="btn btn-warning" value="Delete">
    </form>
  {% endif %}
</tr>
{% endfor %}
</table>
{% endblock body %}